<html>
<head>
  <title>Triggers</title>
</head>
<body>
{%header:Triggers%}
<br><br>
<font size=+2>Triggers on table {%object_name%}</font>
<br><br>
<table cellspacing=1 cellpadding=2 border=0 bgcolor=black width="98%">
  <tbody>
    <tr bgcolor="navy">
      <td></td>
      <td nowrap><b><font color=white>Before triggers</font></b></td>
      <td nowrap><b><font color=white>Trigger info</font></b></td>
    </tr>
    {%foreach:trigger::before:
    <tr bgcolor="{%alternate:#DDDDFF:#CCCCFF%}">
      <td valign="top" nowrap>
          <a href="fr://drop_object?parent_window={%parent_window%}&amp;object_address={%object_address%}"><img src="{%template_root%}drop.png"></a>
          <a href="fr://edit_trigger?parent_window={%parent_window%}&amp;object_address={%object_address%}"><img src="{%template_root%}view.png"></a>
      </td>
      <td nowrap valign="top"><a
          href="fr://properties?object_type=TRIGGER&amp;object_name={%object_name%}&amp;parent_window={%parent_window%}">{%object_name%}</a></td>
      <td valign="top">{%trigger_info%}</td>
    </tr>%}
  </tbody>
</table>
<br><br>
<table cellspacing=1 cellpadding=2 border=0 bgcolor=black width="98%">
  <tbody>
    <tr bgcolor="navy">
      <td></td>
      <td nowrap><b><font color=white>After triggers</font></b></td>
      <td nowrap><b><font color=white>Trigger info</font></b></td>
    </tr>
    {%foreach:trigger::after:
    <tr bgcolor="{%alternate:#DDDDFF:#CCCCFF%}">
      <td valign="top" nowrap>
          <a href="fr://drop_object?parent_window={%parent_window%}&amp;object_address={%object_address%}"><img src="{%template_root%}drop.png"></a>
          <a href="fr://edit_trigger?parent_window={%parent_window%}&amp;object_address={%object_address%}"><img src="{%template_root%}view.png"></a>
      </td>
      <td nowrap valign="top"><a
          href="fr://properties?object_type=TRIGGER&amp;object_name={%object_name%}&amp;parent_window={%parent_window%}">{%object_name%}</a></td>
      <td valign="top">{%trigger_info%}</td>
    </tr>%}
  </tbody>
</table>
<br>
<br>
{%ifeq:{%is_system%}:false:
<a
href="fr://create_trigger?parent_window={%parent_window%}&amp;object_address={%object_address%}">Create new trigger</a> | <a
href="fr://activate_triggers?parent_window={%parent_window%}&amp;object_address={%object_address%}">Activate all triggers</a> | <a
href="fr://deactivate_triggers?parent_window={%parent_window%}&amp;object_address={%object_address%}">Deactivate all triggers</a>
%}
{%ifeq:{%getglobalconf:displayTriggerSource%}:1:
    {%foreach:trigger::before:
    <br><br>
    <table cellspacing=1 cellpadding=2 border=0 bgcolor=black width="98%">
    <tr bgcolor="navy">
      <td nowrap><font color=white><b>{%object_name%}</b>
        [<a href="fr://edit_trigger?parent_window={%parent_window%}&amp;object_address={%object_address%}"><font
        color="yellow">edit</font></a>]</font></td>
    </tr>
    <tr bgcolor="#DDDDFF"><td>
    <PRE>{%trigger_source%}</PRE>
    </td></tr>
    </table>
    %}

    {%foreach:trigger::after:
    <br><br>
    <table cellspacing=1 cellpadding=2 border=0 bgcolor=black width="98%">
    <tr bgcolor="navy">
      <td nowrap><font color=white><b>{%object_name%}</b>
        [<a href="fr://edit_trigger?parent_window={%parent_window%}&amp;object_address={%object_address%}"><font
        color="yellow">edit</font></a>]</font></td>
    </tr>
    <tr bgcolor="#DDDDFF"><td>
    <PRE>{%trigger_source%}</PRE>
    </td></tr>
    </table>
    %}
%}
</body>
</html>
