src/revisioninfo.h
flamerobin_vs2010.*
flamerobin.ncb
flamerobin*.suo
Debug
Release
ipch
bcc*
gcc*
vc*
.bakefile_gen.state
*.opensdf
*.sdf
*.user
autom4te.cache
msvcp71.dll
msvcr71.dll
_UpgradeReport_Files
UpgradeLog.XML
flamerobin.config
flamerobin.creator
flamerobin.files
flamerobin.includes
*.o
*.a
.deps/
.pch/
build*/
*.db
# Visual Studio 2015 cache/options directory
.vs/
#XCode
.DS_Store
xcuserdata
project.xcworkspace
