[Desktop Entry]
Name=FlameRobin
GenericName=Database administration tool
Comment=Administration Tool for Firebird DBMS
Exec=flamerobin
Icon=/usr/share/pixmaps/flamerobin.png
Type=Application
Terminal=false
Encoding=UTF-8
Categories=Application;Development;Database;
