[Desktop Entry]
Name=FlameRobin
GenericName=Database administration tool
Comment=Administration Tool for Firebird DBMS
Exec=flamerobin
Icon=flamerobin
Type=Application
Terminal=false
Categories=Development;Database;GTK
Keywords=firebird
