[Desktop Entry]
Name=Flamerobin
GenericName=Database administration tool
Comment=Administration Tool for Firebird DBMS
Exec=/opt/flamerobin/bin/flamerobin-launcher
Icon=flamerobin
Type=Application
Terminal=false
Categories=Development;Database;GTK
Keywords=flamerobin,firebird
