Package: flamerobin
Version: 0.9.14
Section: base 
Priority: optional
Architecture: all
Maintainer: Baldé <baldeuniversel@protonmail.com>
Depends: bash, coreutils, acl, libc6 (>= 2.39), libstdc++6, build-essential, grep, bc, awk
Description: FlameRobin is a lightweight, cross-platform software tool designed for the 
             administration of databases using the Firebird DBMS (Database Management System). 
             It allows developers and database administrators to easily interact with their Firebird 
             databases, providing practical features to manage, manipulate, and optimize database structures 
             and data.

