<html>
<head>
  <title>Trigger</title>
</head>
<body>
{%header:Summary%}
<br>
<br><font size=+2>{%object_name%}</font><br>
{%sql_security%}<br>
{%object_description%} [<a
 href="fr://edit_description?parent_window={%parent_window%}&amp;object_handle={%object_handle%}&amp;object_type=TRIGGER&amp;object_name={%object_name%}">edit</a>]
<br><br>
<table cellspacing=1 cellpadding=2 border=0 bgcolor="black">
<tbody>
<tr>
  <td bgcolor="navy"></td>
  <td bgcolor="navy"><font color="white"><b>Active</b></font></td>
  <td bgcolor="navy"><font color="white"><b>Position</b></font></td>
  <td bgcolor="navy"><font color="white"><b>Type</b></font></td>
</tr>
<tr>
  <td valign="top" nowrap bgcolor="#DDDDFF">
    <a href="fr://drop_object?parent_window={%parent_window%}&amp;object_handle={%object_handle%}"><img src="{%template_root%}drop.png"></a>
  </td>
  <td nowrap valign="top" bgcolor="#DDDDFF" align="center">
    <a href="fr://{%ifeq:{%triggerinfo:is_active%}:true:deactivate_trigger:activate_trigger%}?parent_window={%parent_window%}&amp;object_handle={%object_handle%}">
      <img src="{%template_root%}{%ifeq:{%triggerinfo:is_active%}:true:ok.png:redx.png%}"></a>
  </td>
  <td nowrap valign="top" bgcolor="#DDDDFF" align="right">{%triggerinfo:position%}</td>
  <td nowrap valign="top" bgcolor="#DDDDFF">{%triggerinfo:type%}</td>
</tr>
</tbody>
</table>
<br><br>
<table cellspacing=1 cellpadding=2 border=0 width="98%" bgcolor="black">
<tbody>
<tr>
  <td colspan="4" bgcolor="navy"><font color=white><b>Source</b> [<a href="fr://edit_trigger?parent_window={%parent_window%}&amp;object_handle={%object_handle%}"><font color="yellow">edit</font></a>]</font></td>
</tr>
<tr>
  <td colspan="4" bgcolor="#DDDDFF"><font size=-1><pre>{%triggerinfo:source%}</pre></font></td>
</tr>
</tbody>
</table>
<br><br>
<table border=0 cellspacing=1 cellpadding=2 bgcolor="#CCCCCC">
    <tr bgcolor="#CCCCFF">
        <td><B>Icon</B></td>
        <td nowrap><B>Click to...</B></td>
    </tr>
    <tr><td><img src="{%template_root%}drop.png"></td><td>Drop trigger</td></tr>
    <tr><td><img src="{%template_root%}ok.png"></td><td>Make trigger inactive</td></tr>
    <tr><td><img src="{%template_root%}redx.png"></td><td>Make trigger active</td></tr>
</table>
</body>
</html>
